{% extends "base.html" %}
{% block body %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Finacial A.i.</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="home"><i
                            class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile"><i
                            class="fas fa-user-alt"></i><span>Profile</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button">
                            <i
                                    class="fas fa-bars"></i></button>
                        <form action="/analyse" method="GET" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" name="stock"
                                                            placeholder="Search for Share...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                           data-toggle="dropdown" aria-expanded="false"
                                                                           href="#"><span
                                        class="badge badge-danger badge-counter">2+</span><i
                                        class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                         role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>Check out our new features!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i>
                                                </div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>fAI made 20% in the last three month investing in Apple!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                           data-toggle="dropdown" aria-expanded="false"
                                                                           href="#"><span
                                        class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.username }}</span><img
                                        class="border rounded-circle img-profile"
                                        src="../static/assets/img/avatars/avatar5.jpeg?h=35dc45edbcda6b3fc752dab2b0f082ea"></a>
                                    <div
                                            class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                            role="menu">
                                        <a class="dropdown-item" role="presentation" href="home"><i
                                                class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Home</a><a
                                            class="dropdown-item" role="presentation" href="profile"><i
                                            class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div
                                                class="dropdown-divider"></div>
                                        <a class="dropdown-item" role="presentation" href="logout"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <!-- Start: #share -->
                        <h3 id="share_name" class="text-dark mb-0">{{ name }}</h3>
                        <!-- End: #share --><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button"
                                               href="subscribe" id="subscribe-button"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Subscribe</a></div>
                    <!-- Start: Chart -->
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Stock chart with AI buy and
                                        sell&nbsp;</h6>
                                    <div class="dropdown no-arrow">
                                        <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false" type="button"><i
                                                class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                             role="menu">
                                            <p class="text-center dropdown-header">dropdown header:</p><a
                                                class="dropdown-item" role="presentation" href="#">&nbsp;Action</a><a
                                                class="dropdown-item" role="presentation" href="#">&nbsp;Another
                                            action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" role="presentation" href="#">&nbsp;Something else
                                                here</a></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Chart -->
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                                                <span>Earnings (monthly)</span>
                                            </div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>5,04%</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                                                <span>Earnings (annual)</span>
                                            </div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>64,32%</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="margin-top: 100px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © financial Advisory Intelligence 2019</span>
                    </div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
{% endblock %}
{% block scripts %}
<script src="../static/js/analyse.js"></script>
{% endblock %}
