{% extends "base.html" %}
{% block body %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Finacial A.i.</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="home"><i
                            class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile"><i
                            class="fas fa-user-alt"></i><span>Profile</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button">
                            <i class="fas fa-bars"></i></button>
                        <form action="/analyse" method="GET" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" name="stock"
                                                            type="text" placeholder="Search for Share...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                           data-toggle="dropdown" aria-expanded="false"
                                                                           href="#"><span
                                        class="badge badge-danger badge-counter">2+</span><i
                                        class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                         role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>Check out our new features!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>fAI maked 20% in the last three month investing in Apple!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                           data-toggle="dropdown" aria-expanded="false"
                                                                           href="#"><span
                                        class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.username }}</span><img
                                        class="border rounded-circle img-profile"
                                        src="../static/assets/img/avatars/avatar5.jpeg?h=35dc45edbcda6b3fc752dab2b0f082ea"></a>
                                    <div
                                            class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                            role="menu"><a class="dropdown-item" role="presentation" href="home"><i
                                            class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Home</a><a
                                            class="dropdown-item" role="presentation" href="profile"><i
                                            class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div
                                                class="dropdown-divider"></div>
                                        <a class="dropdown-item" role="presentation" href="logout"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-center text-dark mb-1">Find the next great Investment</h3>
                    <div class="row text-center" style="margin-top: 50px;">
                        <div class="col" style="padding: 0px;padding-right: 0px;padding-left: 0px;">

                            <!--Main Search-->
                            <form action="/analyse" method="GET" class="d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100">
                                <div class="input-group" style="background-color: rgba(0,0,0,0);"><input id="form-input-main" name="stock"
                                        class="bg-dark form-control form-control-lg border-0 small"
                                        type="text" placeholder="Search for Stocks..."
                                        style="background-color: rgb(85,82,82);color: rgb(231,232,238);min-width: 50px;">
                                    <div class="input-group-append">
                                        <button id="search_main" class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col">
                            <!-- Start: Basic Card -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary m-0 font-weight-bold">Why trust us?</h6>
                                </div>
                                <div class="card-body">
                                    <p class="m-0">Our Startup has financial and AI experts that work together to build an financial Artificial Intelligence that trades
                                        better than most humans do. The Algorithms that we us are strongly tested on Data that the AI has never seen befor,
                                        so we make sure that our AI makes money in the future!</p>
                                </div>
                            </div>
                            <!-- End: Basic Card -->
                        </div>
                        <div class="col">
                            <!-- Start: Basic Card -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary m-0 font-weight-bold">Why is AI better than humans?</h6>
                                </div>
                                <div class="card-body">
                                    <p class="m-0">The big problem with humans is that they tend to get emotional about stuff.
                                        That is where the AI has its advantages. It always thinks abstract and has no emotions.
                                        But also it gets never tired and always does the best it can to make money for you!</p>
                                </div>
                            </div>
                            <!-- End: Basic Card -->
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col">
                            <!-- Start: Basic Card -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary m-0 font-weight-bold">How does it work?</h6>
                                </div>
                                <div class="card-body">
                                    <p class="m-0">We us Deep-Q-Learning, which is a type of reinforcement learning. We have an Agent,
                                        which is an Deep Neural Network, that we train on over 20 years of Stock data. If it performs great, the AI
                                        is tested on one Year that it has never seen before.</p>
                                </div>
                            </div>
                            <!-- End: Basic Card -->
                        </div>
                        <div class="col">
                            <!-- Start: Basic Card -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary m-0 font-weight-bold">Costes and how to test it for
                                        FREE</h6>
                                </div>
                                <div class="card-body">
                                    <p class="m-0">You want to see how good our algorithm is? Check out all kinds of Stocks and how our AI would perform by searching the
                                        the short name of the stock(Apple = AAPL). To see the trades till today each time
                                        our AI buys or sells an stock, it costs $1 per month.</p>
                                </div>
                            </div>
                            <!-- End: Basic Card -->
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="margin-top: 100px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © financial Advisory Intelligence 2019</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
{% endblock %}


