{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div style="margin: 20px;">
                                    <h1 class="text-center"
                                        style="font-size: 60px;color: rgb(85,85,85);font-family: Nunito, sans-serif;">
                                        financial Advisory Intelligence</h1>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center">Let fAI make money for you</h5>
                        <div class="row" style="margin-top: 50px;margin-left: 10px;margin-right: 10px;">
                            <div class="col">
                                <!-- Start: Basic Card -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 font-weight-bold">Why trust us?</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="m-0">The styling for this basic card example is created by using
                                            default
                                            Bootstrap utility classes. By using utility classes, the style of the card
                                            component can be easily modified with no need for any custom CSS!</p>
                                    </div>
                                </div>
                                <!-- End: Basic Card -->
                            </div>
                            <div class="col">
                                <!-- Start: Basic Card -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 font-weight-bold">Why is AI better than humans?</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="m-0">The styling for this basic card example is created by using
                                            default
                                            Bootstrap utility classes. By using utility classes, the style of the card
                                            component can be easily modified with no need for any custom CSS!</p>
                                    </div>
                                </div>
                                <!-- End: Basic Card -->
                            </div>
                        </div>
                        <div class="row" style="margin-top: 0px;margin-left: 10px;margin-right: 10px;">
                            <div class="col">
                                <!-- Start: Basic Card -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 font-weight-bold">How does it work</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="m-0">The styling for this basic card example is created by using
                                            default
                                            Bootstrap utility classes. By using utility classes, the style of the card
                                            component can be easily modified with no need for any custom CSS!</p>
                                    </div>
                                </div>
                                <!-- End: Basic Card -->
                            </div>
                            <div class="col">
                                <!-- Start: Basic Card -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 font-weight-bold">Costs and how to test it for
                                            FREE</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="m-0">The styling for this basic card example is created by using
                                            default
                                            Bootstrap utility classes. By using utility classes, the style of the card
                                            component can be easily modified with no need for any custom CSS!</p>
                                    </div>
                                </div>
                                <!-- End: Basic Card -->
                            </div>
                        </div>
                        <div class="row" style="margin-top: 0px;margin-left: 10px;margin-right: 10px;">
                            <div class="col">
                                <!-- Start: Basic Card -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 font-weight-bold">Example</h6>
                                    </div>
                                    <div class="card-body">
                                        <!-- Start: Area Chart -->
                                        <div class="chart-area">
                                            <canvas id="myChart"></canvas>
                                       </div>
                                        <!-- End: Area Chart -->
                                    </div>
                                </div>
                                <!-- End: Basic Card -->
                            </div>
                            <div class="col">
                                <!-- Start: Basic Card -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 font-weight-bold">Return of example</h6>
                                    </div>
                                    <div class="card-body">
                                        <!-- Start: Card Primary -->
                                        <div class="card shadow border-left-primary py-2">
                                            <div class="card-body">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col mr-2">
                                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                                                            <span>Earnings (monthly)</span></div>
                                                        <div class="text-dark font-weight-bold h5 mb-0">
                                                            <span>5,04%</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto"><i
                                                            class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: Card Primary -->
                                        <!-- Start: Card Success -->
                                        <div class="card shadow border-left-success py-2" style="margin-top: 20px;">
                                            <div class="card-body">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col mr-2">
                                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                                                            <span>Earnings (annual)</span></div>
                                                        <div class="text-dark font-weight-bold h5 mb-0">
                                                            <span>64,32%</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto"><i
                                                            class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: Card Success -->
                                    </div>
                                </div>
                                <!-- End: Basic Card -->
                            </div>
                        </div>
                        <div class="row" style="margin-top: 0px;margin-left: 10px;margin-right: 10px;">
                            <div class="col">
                                <!-- Start: Basic Card -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 font-weight-bold">Intressted?</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div style="margin-top: 10px;"><a
                                                        class="btn btn-primary btn-block text-white btn-user"
                                                        role="button"
                                                        href="login">Login</a></div>
                                            </div>
                                            <div class="col">
                                                <div style="margin-top: 10px;"><a
                                                        class="btn btn-primary btn-block text-white btn-user"
                                                        role="button"
                                                        href="register">Register</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: Basic Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer" style="margin-top: 100px;">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © financial Advisory Intelligence 2019</span>
            </div>
        </div>
    </footer>
{% endblock %}
{% block scripts %}
    <script src="../static/assets/js/script.min.js?h=cda46db5f8853791105ff4715b7208f3"></script>
    <script src="../static/js/load_csv.js"></script>
{% endblock %}