{% extends "base.html" %}
{% block body %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Finacial A.i.</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="home"><i
                            class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="profile"><i
                            class="fas fa-user-alt"></i><span>Profile</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button">
                            <i class="fas fa-bars"></i></button>
                        <form action="/analyse" method="GET" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" name="stock"
                                                            placeholder="Search for Share...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                           data-toggle="dropdown" aria-expanded="false"
                                                                           href="#"><span
                                        class="badge badge-danger badge-counter">2+</span><i
                                        class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                         role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>Check out our new features!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>fAI maked 20% in the last three month investing in Apple!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                           data-toggle="dropdown" aria-expanded="false"
                                                                           href="#"><span
                                        class="d-none d-lg-inline mr-2 text-gray-600 small">{{user.username}}</span><img
                                        class="border rounded-circle img-profile"
                                        src="../static/assets/img/avatars/avatar5.jpeg?h=35dc45edbcda6b3fc752dab2b0f082ea"></a>
                                    <div
                                            class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                            role="menu"><a class="dropdown-item" role="presentation" href="home"><i
                                            class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Home</a><a
                                            class="dropdown-item" role="presentation" href="profile"><i
                                            class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div
                                                class="dropdown-divider"></div>
                                        <a class="dropdown-item" role="presentation" href="logout"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                                                                               src="../static/assets/img/dogs/image2.jpeg?h=a0a7d00bcd8e4f84f4d8ce636a8f94d4"
                                                                               width="160" height="160">
                                    <div class="mb-3">
                                        <button class="btn btn-primary btn-sm" type="button">Change Photo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="username"><strong>Username</strong></label><input
                                                                class="form-control" type="text" placeholder="{{user.username}}"
                                                                name="username"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Email
                                                            Address</strong></label><input class="form-control"
                                                                                           type="email"
                                                                                           placeholder="{{user.email}}"
                                                                                           name="email"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-sm" type="submit">Save Settings
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Change Password</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="old_pw"><strong>Old
                                                            Password</strong><br></label>
                                                            <!-- Start: #old_pw --><input
                                                                    class="form-control form-control-user"
                                                                    type="password" id="old_pw"
                                                                    placeholder="Password" name="password">
                                                            <!-- End: #old_pw -->
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="new_pw"><strong>New
                                                            Password</strong><br></label>
                                                            <!-- Start: #new_pw --><input
                                                                    class="form-control form-control-user"
                                                                    type="password" id="new_pw"
                                                                    placeholder="New Password" name="password">
                                                            <!-- End: #new_pw -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-sm" type="submit">Change
                                                        Password
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if user.subscription == true %}
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Subscription</p>
                                        </div>
                                        <div class="card-body">
                                                <div class="form-row">
                                                        <div class="form-group"><label for="old_pw"><strong>
                                                            A Subscription is $0.99/Month</strong><br></label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn btn-primary btn-sm" role="button"
                                               href="subscribe" id="subscribe-button"><i class="fas fa-download fa-sm text-white-50"></i>Cancel Subscription</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="margin-top: 100px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © financial Advisory Intelligence 2019</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
{% endblock %}
